body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
canvas {
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  position: absolute;
  width: 100%;
  user-select: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: #ffffff;
}

.input-timer {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
  height: 220px;
  width: 300px;
}

.input-timer h3 {
  margin-top: -8px;
}

.backgrounds {
  width: 100%;
  height: 100vh;
  background-color: black;
  opacity: 0.5;
  position: absolute;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.set-timer {
  display: flex;
  gap: 20px;
}

select {
  width: 60px;
  border-radius: 4px;
  padding: 5px 10px;
  border: 1px solid #ccc;
}

.start-timer {
  background-color: rgb(0, 190, 0);
  color: white;
  cursor: pointer;
  padding: 5px 10px 5px 10px;
  margin-top: 15px;
  z-index: 999;
  border-radius: 5px;
  border-width: 0;
}

.back__home {
  color: #111545;
  padding: 5px 10px 5px 10px;
  margin-top: 15px;
  border-radius: 5px;
  border-width: 0;
  text-decoration: none;
}

#alert-error {
  background-color: #ffffff;
  color: red;
  display: none;
  font-size: 12px;
  margin-top: 10px;
  position: absolute;
  z-index: -1;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
