body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
canvas {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.btn-hamburger {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 20px;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-hamburger:hover {
  border: 2px solid #111545;
  border-radius: 8px;
}

.nav {
  position: absolute;
  top: -100%;
  transition: all 0.3s ease-out;
}

.show {
  transition: all 0.4s ease-in;
  top: 40px;
  position: absolute;
}

.nav__item {
  display: flex;
  cursor: pointer;
  transition: all 0.3s ease;
}

.nav__link {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  padding: 10px;
}

.nav__link:hover {
  background-color: #f1f1f1;
  color: #111545;
  border-radius: 4px;
  padding: 10px;
}
